<section class="min-h-screen md:min-w-xl mx-auto">
    <div class="bg-white p-8 md:p-12 rounded shadow space-y-8">
        <div class="flex justify-end mb-4">
            <%= link_to root_path, 
            class: "flex items-center text-blue-600 hover:text-blue-800 group",
            data: { testid: "back-button" } do %>
                <svg class="w-5 h-5 mr-1 group-hover:-translate-x-1 transition-transform duration-150" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
                <span>Back</span>
            <% end %>
        </div>

        <h2 class="text-xl md:text-2xl font-bold text-green-800">🎯 Goals in 2025</h2>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🧠 Goal:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
            <li>สามารถพัฒนาโปรเจกต์เว็บไซต์/แอปพลิเคชันได้ด้วยตัวเอง</li>
            <li>เรียนรู้ในด้าน Ux/Ui</li>
            <li>เรียนรู้ในด้าน Front-Back end</li>
            <li>เรียนรู้ในด้าน Infrastructure</li>
            <li>สอบ TOEIC 750+, TOEFL iBT 98+, หรือ IELTS 6.5+</li>
        </ul>
        </div>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">👤 Self:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
            <li>ฝึกพิมพ์สัมผัสอย่างน้อยวันละ 5 นาที เพื่อเพิ่มความคล่องตัวในการเขียนโค้ด</li>
            <li>ภายใน 2 สัปดาห์ ต้องมีเว็บไซต์ที่ใช้ Ruby on Rails และฝึกใช้ Git, CI/CD Pipeline, Docker, และ API ภายนอก</li>
            <li>ฝึกการฟัง-พูด เพื่อให้สามารถสื่อสารในสายงานได้ให้รู้เรื่อง</li>
            <li>ฝึกการอธิบายโปรเจกต์ของตนเองให้ผู้อื่นเข้าใจ</li>
        </ul>
        </div>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🤝 Team:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
            <li>ช่วยสอนทีมในสิ่งที่เรารู้เพื่อแชร์ความรู้ให้กัน</li>
        </ul>
        </div>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">🧪 ODT:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
            <li>มีส่วนร่วมในการพัฒนาซอฟต์แวร์ร่วมกัน</li>
        </ul>
        </div>

        <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-2">💼 Client:</h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
            <li>ทำโปรเจกต์ที่มีประสิทธิภาพเพื่อส่งลูกค้า</li>
        </ul>
        </div>
    </div>
</section>
